		      <div class="content-home">
		        <div class="escudo-home-content">
              <div class="escudo-home col-md-offset-1 col-md-5 col-xs-12"><img src="img/escudo.png" alt="escudo del prendimiento"/></div>
            </div>
            <div>
              <div class="title-home col-md-offset-1 col-md-5 col-xs-12">
                <div class="text">
                  <span class="candidatura">Candidatura de</span>
                  <span class="hnombre">Salvador Pozo Sánchez</span>
                  <span class="hermandad">Hermandad del Prendimiento Málaga</span>
                </div>
              </div>
            </div>
          </div>
          <div class="content-body-home">
            <div class="oscurecedor"></div>
          </div>