		      <div class="content-home-pre">
		        
            <div>
              <div class="title-home col-md-offset-1 col-md-5 col-xs-12">
                <div class="text">
                  <span class="candidatura">Vota a la candidatura de</span>
                  <span class="hnombre">Salvador Pozo Sánchez</span>
                  <!-- <span class="hermandad">Hermandad del Prendimiento</span> -->
                </div>
                <!-- <a href="img/presentacionCand.jpeg" target="_blank"><img src="img/presentacionCand.jpeg" alt="cartel presentación de la candidatura de salvador pozo, 16 de septiembre a las 21h, casa hermandad de estudiantes, calle alcazabilla, 3."/></a>-->
                <!-- <iframe width="75%" height="315" src="https://www.youtube.com/embed/V3tgZzjni-c" frameborder="0" allowfullscreen></iframe> -->
              </div>
            </div>
            <div class="escudo-home-content">
              <div class="escudo-home-pre col-md-offset-1 col-md-5 col-xs-12"><img src="img/logocand.jpg" alt="escudo del prendimiento"/></div>
            </div>
          </div>
          <div class="content-body-home">
            <div class="oscurecedor"></div>
          </div>