		<h2>Welcome to iluBeacon</h2>

          <div class="content-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

            <div class="home-content row">
              <div class="col-xs-12 col-md-6 home-grid">
                <div class="home-item row">
                  <div class="col-xs-12 col-sm-4 col-md-4"><h3><i class="fa fa-graduation-cap hidden-xs"></i><span>Tutorial</span></h3></div>
                  <div class="col-xs-12 col-sm-8 col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button class="btn btn-block btn-primary" ui-sref="getStart">Get Started width iluBiacon</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 home-grid">
                <div class="home-item row">
                  <div class="col-xs-12 col-sm-4 col-md-4"><h3><i class="fa fa-bullseye hidden-xs"></i><span>My Beacons</span></h3></div>
                  <div class="col-xs-12 col-sm-8 col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button class="btn btn-block btn-primary" ui-sref="myBeacons">Manage your Beacons</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 home-grid">
                <div class="home-item row">
                  <div class="col-xs-12 col-sm-4 col-md-4"><h3><i class="fa fa-map-marker hidden-xs"></i><span>Places</span></h3></div>
                  <div class="col-xs-12 col-sm-8 col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button class="btn btn-block btn-primary" ui-sref="places">Manage your places</button>
                  </div>
                </div>
              </div>
              <!--<div class="col-xs-12 col-md-6 home-grid">
                <div class="home-item row">
                  <div class="col-xs-12 col-sm-4 col-md-4"><h3><i class="fa fa-bullhorn hidden-xs"></i><span>Alerts</span></h3></div>
                  <div class="col-xs-12 col-sm-8 col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button class="btn btn-block btn-primary">Manage your alerts</button>
                  </div>
                </div>
              </div> -->             
            </div>
          </div>