		      <div class="content-body-candidatos">
            <div class="oscurecedor">
              
              <div class="candidatos-content">
  		          
  		          <div class="col-md-2">
  		            <img src="img/salva.jpg" alt="salvador pozo sánchez"/>
  		            <div class="candidatos-desc">
  		              <div>Salvador Pozo Sánchez</div>
  		            </div>
  		          </div>  

  		          <div class="col-md-2">
  		            <img src="img/jaime.jpg" alt="salvador pozo sánchez"/>
  		          </div>  

  		          <div class="col-md-2">
  		            <img src="img/jalberto.jpg" alt="salvador pozo sánchez"/>
  		          </div>  

  		          <div class="col-md-2">
  		            <img src="img/jesus.jpg" alt="salvador pozo sánchez"/>
  		          </div>  

  		          <div class="col-md-2">
  		            <img src="img/paco.jpg" alt="salvador pozo sánchez"/>
  		          </div>  

  		          <div class="col-md-2">
  		            <img src="img/ricardo.jpg" alt="salvador pozo sánchez"/>
  		          </div>  

              </div>
            </div>
          </div>