		      <div class="content-body-candidatos">
            <div class="oscurecedor">
              
              <div class="candidatos-content">
  		          
  		          <div class="col-md-2 col-xs-8">
  		            <img src="img/salva.jpg" alt="salvador pozo sánchez"/>
  		            <div class="candidatos-desc">
  		              <div class="nombre">Salvador Pozo Sánchez</div>
  		              <div class="candidatoa">Candidato a Hermano Mayor</div>
  		              <div>Hermano desde el año 1994</div>
  		              <div>Edad 52 años</div>
  		              <div>
  		                <span>Cargos que ha ocupado en Junta de Gobierno:</span>
  		                Secretario General, Teniente Hermano Mayor y
Hermano Mayor
  		              </div>
  		              <div>
  		                <span>Cargo en la Agrupación de Cofradías:</span>
  		                Secretario General
  		              </div>
  		            </div>
  		          </div>  

  		          <div class="col-md-2 col-xs-8">
  		            <img src="img/jaime.jpg" alt="JAIME GALLEGO SANCHÍS"/>
  		            <div class="candidatos-desc">
  		              <div class="nombre">Jaime Gallego Sanchís</div>
  		              <div class="candidatoa">Candidato a Primer Teniente Hermano Mayor</div>
  		              <div>Hermano desde el año 1968</div>
  		              <div>Edad 62 años</div>
  		              <div>
  		                <span>Cargos que ha ocupado en Junta de Gobierno:</span>
  		                Albacea General Adjunto, Albacea General, Teniente Hermano Mayor y Hermano Mayor
  		              </div>
  		              <div>
  		                <span>Cargo en la Agrupación de Cofradías:</span>
  		                Fue presidente de distintas comisiones
  		              </div>
  		            </div>
  		          </div>  

  		          <div class="col-md-2 col-xs-8">
  		            <img src="img/jalberto.jpg" alt="salvador pozo sánchez"/>
  		            <div class="candidatos-desc">
  		              <div class="nombre">Juan Alberto Rosa Guerrero</div>
  		              <div class="candidatoa">Candidato a Contador</div>
  		              <div>Hermano desde el año 1984</div>
  		              <div>Edad 47 años</div>
  		              <div>
  		                <span>Cargos que ha ocupado en Junta de Gobierno:</span>
  		                Teniente Hermano Mayor, Contador, Fiscal, Vicesecretario y Albacea de enseres y procesión.
  		              </div>
  		            </div>
  		          </div>  

  		          <div class="col-md-2 col-xs-8">
  		            <img src="img/jesus.jpg" alt="salvador pozo sánchez"/>
  		            <div class="candidatos-desc">
  		              <div class="nombre">Jesús Astorga Carvajal</div>
  		              <div class="candidatoa">Candidato a Secretario</div>
  		              <div>Hermano desde el año 1990</div>
  		              <div>Edad 27 años</div>
  		              <div>
  		                <span>Cargos que ha ocupado en Junta de Gobierno:</span>
  		                Vocal de Caridad, Presidente de la Comisión de Tallas
  		              </div>
  		            </div>
  		          </div>  

  		          <div class="col-md-2 col-xs-8">
  		            <img src="img/paco.jpg" alt="salvador pozo sánchez"/>
  		            <div class="candidatos-desc">
  		              <div class="nombre">Francisco López Satorre</div>
  		              <div class="candidatoa">Candidato a Albacea General</div>
  		              <div>Hermano desde el año 1993</div>
  		              <div>Edad 52 años</div>
  		              <div>
  		                <span>Cargos que ha ocupado en Junta de Gobierno:</span>
  		                Albacea de Cultos, Albacea de Enseres y Procesión, y
Albacea General Adjunto
  		              </div>
  		            </div>
  		          </div>  

  		          <div class="col-md-2 col-xs-8">
  		            <img src="img/ricardo.jpg" alt="salvador pozo sánchez"/>
  		            <div class="candidatos-desc">
  		              <div class="nombre">Ricardo Armada Aguilar</div>
  		              <div class="candidatoa">Candidato a Fiscal</div>
  		              <div>Hermano desde el año 1994</div>
  		              <div>Edad 56 años</div>
  		              <div>
  		                <span>Cargos que ha ocupado en Junta de Gobierno:</span>
  		                Vocal y Jefe de Protocolo
  		              </div>
  		            </div>
  		          </div>  

              </div>
            </div>
          </div>