		      
         <div class="content-body-carta">
            <div class="oscurecedor">
              <div class="col-xs-12 col-md-5 col-md-offset-6 content-text">
  		        <h2>Carta del candidato</h2>
  		        
  		        <p>Estimado Hermano y Cofrade:</p>
  		        <p>Tras cuatro años intensos de trabajo y con los objetivos que nos propusimos para este mandato alcanzados,
  		        la Hermandad se dispone a celebrar un nuevo cabildo de elecciones a Hermano Mayor el próximo día 23 de 
  		        septiembre de 2016 , convocatoria que habrás recibido desde Secretaría.</p>
  		        
  		        <p>Supone para mí un gran honor y una gran satisfacción dirigirme de nuevo a ti, para anunciarte que opto a la
  		        reelección a dicho cargo.</p>
  		        
  		        <p>Creo presentarme ante ti con los deberes realizados y al mismo tiempo, haber logrado que nuestra Hermandad
  		        continúe en éste periodo en los niveles más alto que una Cofradía puede alcanzar en el conjunto de la 
  		        Semana Santa Malagueña. Y ello ha sido posible gracias al esfuerzo y trabajo de éste grupo de hermanos que
  		        llevamos juntos trabajando más de 35 años sin cesar, para hacer de TU Hermandad una gran Cofradía.</p>
  		        
  		        <p>En éste último periodo hemos podido disfrutar y contemplar los proyectos y estrenos llevados a cabo, y
como ejemplo, quiero recordar la inauguración del salón de actos, la creación de una nueva Web, la apertura
de las Redes Sociales a todos los hermanos, la reforma de la Casa Hermandad, la Creación del museo, el estreno
de nuevas piezas bordadas como son el mantolín para San Juan y el banderín conmemorativo de nuestra
participación en la JMJ, el estreno de las dos nuevas cabezas de varales centrales y los nuevos arbotantes del
trono de Mª Stma. del Gran Perdón (a juicio de muchos los mejores de Málaga), las nuevas túnicas de hombres
de trono, así como el incremento del patrimonio pictórico con cinco nuevas obras de distintos artistas y del
musical con la incorporación de seis Nuevas Marchas dedicadas a Nuestros Sagrados Titulares. Además se ha
hecho realidad nuestra incorporación a la Fundación Corinto, en el que durante los dos últimos años se ha
ayudado a una media de cinco familias mensuales, así como nuestras Campañas Solidarias en el que se ha
podido atender a cien familias del barrio de capuchinos anualmente, con alimentos y productos de primera
necesidad y la estrecha colaboración con distintas ONG.</p>
  		        
  		        <p>Y con todo ello, en la Hermandad hemos compatibilizado éste periodo con una estrecha colaboración con
la Agrupación de Cofradías de Semana Santa de Málaga, teniendo el privilegio de presidir la Comisión de
Culto y Resucitado y en la actualidad un miembro de nuestra Junta preside la Comisión de los actos del Centenario
de ésta institución y en mi caso, ostento el cargo de Secretario General de la misma. </p>
  		        
  		        <p>En nuestros Estatutos, el periodo máximo para ostentar el Cargo de Hermano Mayor es de ocho años más
prórroga si procede. Yo llevo en la actualidad cuatro y tengo ganas e ilusión para seguir otros cuatro y así
completar una norma no escrita pero sí respetada, (cuando como creo humildemente que es mi caso), se ha
realizado una buena labor y no hay un motivo justicado que lo impida.</p>
  		        
  		        <p>Esta candidatura que se presenta de nuevo ante ti, tiene el aval de todo lo realizado y a día de hoy puede
armar con orgullo, que lleva a cabo todo aquello con lo que se compromete ante los hermanos. Y nos sentimos
muy satisfechos de representar a la Hermandad del Prendimiento, con lo que signica eso hoy en día en la
Málaga cofrade.</p>
  		        
  		        <p>Nuestro lema, gira en torno a estos últimos y continuados 35 años, porque somos la historia reciente de la
Cofradía, y me siento orgulloso de pertenecer a este grupo. En esta etapa gloriosa para nuestra Hermandad, con
unos hermanos y miembros de Junta muy comprometidos, entre ellos dos ex Hermanos Mayores, hemos alcanzado
muchas metas y hemos visto muchos sueños cumplidos. Entre ellas la realización de la Casa Hermandad, 
Seis ediciones de los Talleres de Empleo dando lugar a ocupación de más de 200 alumnos, realización del nuevo
Grupo Escultórico del Trono de Nuestro Señor, transformación del trono de Maria Stma. del Gran Perdón, incremento
del patrimonio, participación en la JMJ de Madrid 2011, etc. etc. etc.</p>
  		        
  		        <p>En denitiva un continuo ascenso, siendo la Cofradía de Málaga que con diferencia más y mejor ha crecido y
dando a los demás ejemplo de entrega y dedicación, provocando una gran admiración.</p>
  		        
  		        <p>La cofradía del Prendimiento no es propiedad de nadie en particular y si de todos los hermanos que la integran.
No sobra nadie y todo el mundo es necesario. Jamás se ha prescindido de nadie y el que se ha marchado, lo ha
hecho libre y voluntariamente, pero siempre tendrá nuestro mejor recuerdo, nuestro cariño y nuestra gratitud
porque somos una Hermandad. Pero debemos tener presente, que ser Hermano signica servir a la Hermandad y
nunca servirse de ella.</p>
  		        
  		        <p>La Cofradía está abierta a todos y cada uno de sus hermanos durante todo el año, para participar en ella y para
con esfuerzo y trabajo, lograr alcanzar la mayor Gloria de Nuestros Sagrados Titulares.</p>
  		        
  		        <p>Nada más querido Hermano/a, espero poder saludarte en persona de nuevo el día de la presentación de nuestro
programa que será (D.M.) el Viernes 26 de Septiembre a las 21.00 horas en la Casa Hermandad de Estudiantes y si
no te es es posible, espero contar con tu voto para el próximo día 23 de septiembre de 2016.</p>
  		        
  		        <p>Hasta entonces, recibe un cordial saludo y un fuerte abrazo tanto mío como el de toda la candidatura a la que
represento.</p>
  		        
  		        <p class="right">Fdo: Salvador Pozo Sánchez</p>

            </div>
            </div>
          </div>