		  <h2>
            <a href="" ui-sref="home"><span class="hidden">Home</span><i class="fa fa-home" aria-hidden="true"></i></a> > 
            Get started
          </h2>

          <div class="content-body get-start-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

            <ol>
            	<li>Install the Beepcon app in your <a href="">Android</a> or <a href="">iOS</a> phone.</li>
            	<li>Log in with your email and password (the same you use for the Beepcon CMS).</li>
            	<li>Click on "New" and scan your Beepcons QR code with your mobile phone.</li>
            	<li>Follow the steps to activate your Beepcon and it will appear in the CMS.</li>
            </ol>

          </div>
