		      
         <div class="content-body-historia">
            <div class="oscurecedor">
              <div class="col-xs-12 col-md-6 col-md-offset-3 content-text">
  		        <h2>35 Años en contínuo ascenso: 1981 - 2016</h2>
  		        
  		        <p>Las claves del éxito están en
mantener el mismo equipo, la
misma línea de trabajo y
mezclar juventud y experiencia.</p>
                    
                <h3>Pedro Gallego Hermano Mayor: 1981 - 1993</h3>
                
                <ul>
                    <li>Aumentar el número de Hermanos de 250 a 1200</li>
                    <li>Integración de la mujer y de la Juventud</li>
                    <li>Instaurar el traslado realizado por mujeres</li>
                    <li>Primera Informatización de la Hermandad</li>
                    <li>Primer Boletín de la Hermandad</li>
                    <li>Adquisición de primeras barras de palio</li>
                    <li>Adquisición de primeras ánforas</li>
                    <li>Coronación Litúrgica de María Stma. Del Gran Perdón</li>
                    <li>Adqusición de Mazas, Bocinas, Bastones, Peana, Senatus, etc. etc.</li>
                    <li>Primeros Bordados</li>
                    <li>Realización de primeras Verbenas y Cruces de Mayo</li>
                    <li>Caseta El Varal en la Feria de Málaga</li>
                    <li>Creación del Libro Itinerarios Procesionales</li>
                    <li>Construcción e Inauguración de la Casa-Hermandad</li>
                </ul>
                
                <h3>Jaime Gallego Hermano Mayor: 1993 - 2012</h3>
                
                <ul>
                    <li>Reforma de Estatutos</li>
                    <li>Hermanamiento con Ministerio de Trabajo</li>
                    <li>Hermanamiento con Urbanismo</li>
                    <li>Primera página web</li>
                    <li>Celebración 75 aniversario Fundacional</li>
                    <li>Celebración 50 años desde reorganización</li>
                    <li>Celebración 50 años Mª. Stma. Del Gran Perdón Talleres de Empleo</li>
                    <li>Confección de Vestuario nuevo para Hombres de Trono</li>
                    <li>Confección de equipos de Nazarenos con escapulario y capa</li>
                    <li>Restauración del Manto</li>
                    <li>Corona en Plata y Marfil para la Virgen</li>
                    <li>Potencias de plata bañadas en Oro para el Crísto</li>
                    <li>Ampliación Grupo Escultórico</li>
                    <li>Restauración de las Sagradas Imágenes</li>
                    <li>Nuevas ánforas, barras de palio y Candelería</li>
                    <li>Exposiciones en Italcable, Palacio de Ferias y Agrupación de Cofradías</li>
                    <li>Nuevos estandartes bordados, paños de bocina y Sine Labe</li>
                    <li>Pinturas para estandartes de Antonio Montiel y Leonardo Fernández</li>
                    <li>Bordado de Palio</li>
                    <li>Cinco Sayas Bordadas para la Virgen y una toca</li>
                    <li>Nuevo Guión Corporativo</li>
                    <li>Tres túnicas Bordadas para el Señor</li>
                    <li>Ropones de Dalmáticas y Monaguillos</li>
                    <li>Nuevos enseres tales como faroles, bastones, etc. etc.</li>
                    <li>Restauración altar en la Parroquia</li>
                    <li>Nuevas marchas musicales para el Crísto y La Virgen</li>
                    <li>Adquisición Locales Lucha contra el cáncer y auxiliar de Albacería</li>
                    <li>Adquisición de la propiedad del Terreno de la Casa-Hermandad</li>
                    <li>Visita de dos Ministros a la Cofradía</li>
                    <li>Celebración representado a Málaga de la JMJ ante el Papa en Madrid</li>
                </ul>

                <h3>Salvador Pozo Hermano Mayor: 2012 - 2016</h3>
                
                <ul>
                    <li>Nueva Página Web</li>
                    <li>Integración en Redes Sociales</li>
                    <li>Reforma Locales Talleres de Empleo en Salones para la Hermandad</li>
                    <li>Reforma Casa Hermandad</li>
                    <li>Adquisición de Pintura Mural</li>
                    <li>Nuevo Mirador en Casa Hermandad</li>
                    <li>Creación del Museo para proteger el patrimonio y exponerlo</li>
                    <li>Equipos nuevos de Hombres de Trono</li>
                    <li>Reforma del Libro Itinerarios Procesionales</li>
                    <li>Creación de la Campaña “Diciembre Solidario”</li>
                    <li>Adhesión a la Fundación Corinto</li>
                    <li>Ampliación del patrimonio musical con 6 nuevas marchas</li>
                    <li>Adquisición de Cruz Parroquial</li>
                    <li>Bordado de Mantolín para San Juan y Banderín JMJ</li>
                    <li>Restauración de la Cruz-Guia</li>
                    <li>Hermanamiento con las Cofradías de la Vera Cruz de Alhaurín y Esperanza de Almuñécar</li>
                    <li>Apadrinamiento del Stmo. Crísto de la Salvación de Dos Hermanas</li>
                    <li>Cabezas de varal centrales trono de la Virgen</li>
                    <li>Cesión para la Hermandad de nuevo altar en la Parroquia</li>
                    <li>Nuevos Arbotantes para María Stma. Del Gran Perdón</li>
                </ul>

            </div>
            </div>
          </div>