    <div ng-controller="myBeaconDetailController">
        <h2>
        	<a href="" ui-sref="home"><span class="hidden">Home</span><i class="fa fa-home" aria-hidden="true"></i></a> > 
        	<a href="" ui-sref="myBeacons">My beacons</a> > 
        	{{beacons.selected.beacon.name}}
        </h2>

        <div class="content-body">

        	<div class="row myBeacons-detail-content-header">
            	<h3 class="col-md-6">Beepcon contents</h3>
            	<div class="col-md-6 right myBeacons-detail-content-header-a">
            		<a href="" ng-click="goToDetail('myBeaconTechnicalSettings')">Technical settings</a>
            	</div>
            </div>

            <div class="myBeacon-content-intro">
            	<p>These fields will be stored in the beepcon, making then available for users without internet connection.</p>
            </div>

            <form name="bcForm" class="myBeacons-detail-form form-horizontal" role="form">

          		<div class="update-profile-msg">
          			<p class="bg-warning" role="alert"  ng-show="warning">The beacon info is updated successfully.</p>
          			<p class="bg-danger" role="alert" ng-show="error">An error has occurred.</p>
          		</div>

            	<!-- BEACON NAME -->
            	<div class="myBeacons-detail-frame">
	              	<fieldset>
	              		<legend><i class="fa fa-bullseye" aria-hidden="true"></i> Beepcon name</legend>

	              		<div class="col-md-5 myBeacons-name-detail">
	              			<div class="form-group has-feedback validate">
	              				<label for="beaconName" class="col-md-3 control-label">Name</label>
	              				<div class="col-md-7">
	              					<input type="text" name="bName" id="beaconName" class="form-control" placeholder="Type beacon name here_" ng-model="beacons.selected.beacon.name" ng-blur="change('name')" ng-focus="setCurrentValue('name')" ng-keyup="checkLength('beacons.selected.beacon.name', 'beaconNameMaxLength')" required/>
	              					<div>
		              					<p class="right">{{beaconNameMaxLength - getBytesLength(beacons.selected.beacon.name, 'beaconName')}} bytes.</p>
		              				</div>

			                      	<div ng-show="bcForm.$submitted || bcForm.bName.$touched">
			                        	<span class="glyphicon glyphicon-remove error-beacon-name form-control-feedback red" aria-hidden="true" ng-show="bcForm.bName.$error.required || bcForm.bName.$error.minlength"></span>
			                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="bcForm.bName.$error.required">Fill in a name.</span>
			                      	</div>
			                      
	              				</div>	
	              				<div class="col-md-2 info-circle" click-outside="beaconName">
	              					<div class="info-circle-link"><a href="" ng-click="showHelp('beaconName')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['beaconName'].style"></i><span class="hidden">Show beacon name help.</span></a></div>
	              					<div class="help-text" ng-show="helpFrame['beaconName'].show"><p role="alert">Set a name to help users identify the information related to this beepcon.</p></div>
	              				</div>              				
	              			</div>
	              		</div>
	              	</fieldset>
              	</div>

              	<!-- BEACON CONTENT -->
              	<div class="myBeacons-detail-frame">
              		<fieldset>
	              		<legend><i class="fa fa-file-text" aria-hidden="true"></i> Beepcon text content</legend>
	              		<div class="myBeacons-detail-frame-content">
		              		<div class="form-group no-margin">
	              				<label for="beaconContent" class="control-label hidden-content">Content</label>
	              				<textarea id="beaconContent" class="form-control" placeholder="Type here_" ng-model="beacons.selected.beacon.content.textInfo" ng-blur="changeTextInfo()" ng-focus="setCurrentTextInfoValue()" ng-keyup="checkLength('beacons.selected.beacon.content.textInfo', 'textInfoMaxLength')"></textarea>
	              				<div>
	              					<p class="right">{{textInfoMaxLength - getBytesLength(beacons.selected.beacon.content.textInfo, 'beaconContent')}} bytes.</p>
	              				</div>
	              			</div>
	              		</div>
	              	</fieldset>
              	</div>

              	<!-- BEACON LINK -->
              	<div class="myBeacons-detail-frame">
              		<fieldset>
	              		<legend><i class="fa fa-external-link" aria-hidden="true"></i> Link to additional info</legend>
	              		<div class="myBeacons-detail-frame-content">		              		
	              			<div class="form-group target-url">
	              				<label for="targetUrl" class="col-md-2 control-label">Target URL</label>
	              				<div class="col-md-4">
	              					<input type="url" id="linkInfo" name="blink" class="form-control" placeholder="(max. 160 bytes)" ng-model="beacons.selected.beacon.content.linkInfo.link" ng-blur="changeLink()" ng-focus="setCurrentLinkValue()" ng-keyup="checkLength('beacons.selected.beacon.content.linkInfo.link', 'linkMaxLength')"></input>
	              					<div>
		              					<p class="right">{{linkMaxLength - getBytesLength(beacons.selected.beacon.content.linkInfo.link, 'linkInfo')}} bytes.</p>
		              				</div>
		              				<div ng-show="bcForm.$submitted || bcForm.blink.$touched">			                        	
			                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="bcForm.blink.$error.url">URL format no valid. The URL should be like this: http://www.example.com.</span>
			                      	</div>
	              				</div>	
	              				<div class="col-md-4 target-url-content">
	              					<span> or <a href="">Use webpage editor</a></span>
	              				</div>              				
	              			</div>
	              		</div>
	              	</fieldset>
              	</div>

              	<div class="myBeacons-detail-save-button">
              		<button class="btn btn-success" ng-click="saveChanges()">Save changes</button>
              	</div>
            </form>

        </div>

    </div>