		      <h2>
            <a href="" ui-sref="home"><span class="hidden">Home</span><i class="fa fa-home" aria-hidden="true"></i></a> > 
            My beacons
          </h2>

          <div class="content-body" ng-controller="myBeaconsController">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

            <div class="myBeacons-content">
              <div class="admin-lite-text"><p>In order to add new BEACONS your should use the <a href="">Admin Lite app</a></p></div>
            </div>

            <div class="myBeacons-filters">
              <fieldset class="col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-6 col-lg-5 col-lg-offset-7 row">
                <legend class="col-xs-12 col-md-2">Filters: </legend>
                <div class="col-xs-12 col-md-3 filter">
                  <label for="place-filter" class="hidden-content">Place</label>
                  <select id="place-filter" ng-model="filter.place" ng-change="setPlaceFilter(filter.place)">
                    <option value="" selected>All places</option>
                    <option ng-repeat="place in places.list" value="{{place.name}}">{{place.name}}</option>
                  </select>
                </div> 
                <div class="col-xs-12 col-md-3 filter">
                  <label for="tag-filter" class="hidden-content">Tag</label>
                  <select id="tag-filter" ng-model="filter.tag" ng-change="setTagFilter(filter.tag)">
                    <option value="" selected>All tags</option>
                    <option ng-repeat="tag in beacons.beaconsTags" value="{{tag.name}}">{{tag.name}}</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-4 filter">
                  <label for="tag-filter" class="hidden-content">Search</label>
                  <input type="text" id="tag-filter" ng-model="filter.text" ng-keyup="setSearchFilter(filter.text)"/>
                  <i class="fa fa-search filter-search-ico" aria-hidden="true"></i>                    
                </div>
              </fieldset>
            </div>

            <div class="myBeacons-table">
              <table class="table table-striped">
                <caption class="hidden-content">My beacons list</caption>
                <thead>
                  <tr>
                    <th class="col-xs-5 col-md-2 th-link">
                      <a href='' ng-click="sort('beacon.name')">Name 
                        <i class="fa fa-caret-down" aria-hidden="true" ng-show="sortedBy == '-beacon.name'"></i>
                        <i class="fa fa-caret-up" aria-hidden="true" ng-show="sortedBy == 'beacon.name'"></i></a> 
                    </th>
                    <th class="col-md-2 hidden-xs">Contents</th>
                    <th class="col-xs-2 col-md-2 th-link center">
                      <a href='' ng-click="sort('beacon.placeInfo.place.name')">Place 
                        <i class="fa fa-caret-down" aria-hidden="true" ng-show="sortedBy == '-beacon.placeInfo.place.name'"></i>
                        <i class="fa fa-caret-up" aria-hidden="true" ng-show="sortedBy == 'beacon.placeInfo.place.name'"></i></a> 
                    </th>
                    <th class="col-md-1 hidden-xs th-link center">
                      <a href='' ng-click="sort('beacon.major')">Major 
                        <i class="fa fa-caret-down" aria-hidden="true" ng-show="sortedBy == '-beacon.major'"></i>
                        <i class="fa fa-caret-up" aria-hidden="true" ng-show="sortedBy == 'beacon.major'"></i></a> 
                    </th>
                    <th class="col-md-1 hidden-xs th-link center">
                      <a href='' ng-click="sort('beacon.minor')">Minor 
                        <i class="fa fa-caret-down" aria-hidden="true" ng-show="sortedBy == '-beacon.minor'"></i>
                        <i class="fa fa-caret-up" aria-hidden="true" ng-show="sortedBy == 'beacon.minor'"></i></a> 
                    </th>
                    <th class="col-xs-5 col-md-2 th-link center">
                      <a href='' ng-click="sort('beacon.lastModifyDate')">Last modified 
                        <i class="fa fa-caret-down" aria-hidden="true" ng-show="sortedBy == '-beacon.lastModifyDate'"></i>
                        <i class="fa fa-caret-up" aria-hidden="true" ng-show="sortedBy == 'beacon.lastModifyDate'"></i></a> 
                    </th>
                    <th class="col-md-2 hidden-xs">Beacon Updated <i class="fa fa-caret-down" aria-hidden="true" ng-show="sortedBy == 'updated'"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="tr-hover" ng-repeat="beacon in beacons.list | orderBy:sortedBy" ng-show="beaconFilter(beacon)" ng-click="showBeaconDetail(beacon.beacon._id)">
                    <td class="col-xs-4 col-md-2 td-link"><a href="" ui-sref="myBeaconContent" title="edit {{beacon.beacon.name}} beacon">{{beacon.beacon.name}}</a></td>
                    <td class="col-md-2 hidden-xs">{{beacon.beacon.content.textInfo || "No text"}}</td>
                    <td class="col-xs-4 col-md-2 center">{{beacon.beacon.placeInfo.place.name || "-"}}</td>
                    <td class="table-mayor-minor col-md-1 hidden-xs center"><span>{{beacon.beacon.major || "-"}}</span></td>
                    <td class="table-mayor-minor col-md-1 hidden-xs center"><span>{{beacon.beacon.minor || "-"}}</span></td>
                    <td class="col-xs-4 col-md-2 center">{{beacon.beacon.lastModifyDate | date: 'dd-MM-yyyy' }}</i></td>
                    <td class="hidden-xs col-md-2 row">
                      <div class="col-md-6 green center no-padding" ng-show="!beacon.beacon.beaconValueNotUpdated || beacon.beacon.beaconValueNotUpdated == {}">
                        <i class="fa fa-check-circle-o fa-2x"></i>
                        <span class="myBeacons-table-updated">updated</span>
                      </div>
                      <div class="col-md-6 center no-padding" ng-show="beacon.beacon.beaconValueNotUpdated && beacon.beacon.beaconValueNotUpdated != {}">
                        <i class="fa fa-spinner fa-2x"></i>
                        <span class="myBeacons-table-updated">in progress</span>
                      </div>
                      <div class="col-md-6 right beacon-list-arrow"><i class="fa fa-chevron-circle-right hidden-xs" aria-hidden="true"></i></div>
                    </td>
                  </tr>                       
                </tbody>
              </table>
            </div>
          </div>
