    <div ng-controller="myBeaconDetailController">
    	<script type="text/javascript" src="/js/googleMap.js"></script>
        <h2>
        	<a href="" ui-sref="home"><span class="hidden">Home</span><i class="fa fa-home" aria-hidden="true"></i></a> > 
        	<a href="" ui-sref="myBeacons">My beacons</a> > 
        	{{beacons.selected.beacon.name}}
        </h2>

        <div class="content-body">

        	<div class="row myBeacons-detail-content-header">
            	<h3 class="col-md-6">Technical settings</h3>
            	<div class="col-md-6 right myBeacons-detail-content-header-a">
            		<a href="" ng-click="goToDetail('myBeaconContent')">Beepcon contents</a>
            	</div>
            </div>

            <form name="tsForm" class="myBeacons-detail-form form-horizontal" role="form">

	      		<div class="update-profile-msg">
	      			<p class="bg-warning" role="alert"  ng-show="warning">The beacon info is updated successfully.</p>
	      			<p class="bg-warning" role="alert"  ng-show="removing">The beacon has been removed successfully, you are going back to my beacons page...</p>
	      			<p class="bg-danger" role="alert" ng-show="error || errorUuid">An error has occurred. Some fields need to be changed.</p>
	      		</div>
            
            <!-- Technical settings -->
            <!-- BEACON SETTINGS -->
              	<div class="myBeacons-detail-frame">
	              	<fieldset>
	              		<legend><i class="fa fa-bullseye" aria-hidden="true"></i> Beepcon ID</legend>
	              		
	              		<div class="col-md-8 col-md-offset-2">
	              			
              				<div class="fieldset-frame-content">
              					<p class="myBeacons-detail-serial-number"><span class="col-md-2 no-padding">Serial number</span> <span class="col-md-10">{{beacons.selected.beacon.serial}}</span></p>

              					<div class="form-group	form-group-flex validate">
		              				<label for="uuid" class="col-md-2 control-label">UUID</label>
		              				<div class="col-md-8 uuid-imput">
		              					<!--<input type="text" name="buuid" id="uuid" class="form-control" ng-model="beacons.selected.beacon.uuid" ng-blur="change('uuid')" ng-focus="setCurrentValue('uuid')" ng-pattern="uuidRegex" required />-->

		              					<input type="text" name="buuid" id="uuid" class="form-control" ng-model="beacons.selected.beacon.uuid"  disabled /> 

				                      	<div ng-show="tsForm.$submitted || tsForm.buuid.$touched">
				                        	<span class="glyphicon glyphicon-remove error-beacon-uuid form-control-feedback red" aria-hidden="true" ng-show="tsForm.buuid.$error.required || tsForm.buuid.$error.minlength"></span>
				                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="tsForm.buuid.$error.required">Fill in the UUID.</span>
				                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="tsForm.buuid.$error.minlength">The name minimum length is 3 characters.</span>
				                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="tsForm.buuid.$error.pattern">UUID format inccorrect. The UUID shoudl have 32 characters hexadecimal grouped with the following format: 8char-4char-4char-4char-12char</span>
				                      	</div>
				                      
		              				</div>	
		              				<div class="col-md-2 info-circle" click-outside="uuid">
		              					<div class="info-circle-link"><a href="" ng-click="showHelp('uuid')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['uuid'].style"></i><span class="hidden">Show uuid help.</span></a></div>
		              					<div class="help-text" ng-show="helpFrame['uuid'].show"><p role="alert">The Universally Unique Identifier consist of 32 hexadecimal digits used to identify a network or a service provided by *  the beepcons. Changing it may cause applications filter this beepcon.</p></div>
		              				</div>               				
		              			</div>
		              			<div>
		              				<div class="col-md-6 form-group form-group-flex major-minor major validate">
		              					<label for="major" class="col-md-4 control-label">Major</label>
			              				<div class="col-md-6 major-input">
			              					<input type="number" name="bMajor" id="major" class="form-control" ng-model="beacons.selected.beacon.major" ng-blur="change('major')" ng-focus="setCurrentValue('major')" min="0" max="65535" required />

					                      	<div ng-show="tsForm.$submitted || tsForm.bMajor.$touched">
					                        	<span class="glyphicon glyphicon-remove error-beacon-uuid form-control-feedback red" aria-hidden="true" ng-show="tsForm.bMajor.$error.required || tsForm.bMajor.$error.minlength"></span>
					                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="tsForm.bMajor.$error.required">Fill in the major value.</span>
					                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="tsForm.bMajor.$error.min || tsForm.bMajor.$error.max">The major values must be between 0 and 65535.</span>
					                      	</div>
					                      
			              				</div>	
			              				<div class="col-md-2 info-circle" click-outside="major">
			              					<div class="info-circle-link"><a href="" ng-click="showHelp('major')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['major'].style"></i><span class="hidden">Show major help.</span></a></div>
			              					<div class="help-text" ng-show="helpFrame['major'].show"><p role="alert">Major and major are integers than range from 0 to 65535. They are generally used by developers to identify beepcons more accurately than the UUID.</p></div>
			              				</div>   
		              				</div>

		              				<div class="col-md-6 form-group form-group-flex major-minor validate">
		              					<label for="minor" class="col-md-3 control-label">Minor</label>
			              				<div class="col-md-6 minor-input">
			              					<input type="number" name="bMinor" id="minor" class="form-control" ng-model="beacons.selected.beacon.minor" ng-blur="change('minor')" ng-focus="setCurrentValue('minor')" min="0" max="65535" required/>

					                      	<div ng-show="tsForm.$submitted || tsForm.bMinor.$touched">
					                        	<span class="glyphicon glyphicon-remove error-beacon-uuid form-control-feedback red" aria-hidden="true" ng-show="tsForm.bMinor.$error.required || tsForm.bMinor.$error.minlength"></span>
					                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="tsForm.bMinor.$error.required">Fill in the minor value.</span>
					                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="tsForm.bMinor.$error.min || tsForm.bMinor.$error.max">The minor values must be between 0 and 65535.</span>
					                      	</div>
					                      
			              				</div>
			              				<div class="col-md-2 info-circle" click-outside="minor">
			              					<div class="info-circle-link"><a href="" ng-click="showHelp('minor')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['minor'].style"></i><span class="hidden">Show minor help.</span></a></div>
			              					<div class="help-text" ng-show="helpFrame['minor'].show"><p role="alert">Major and minor are integers than range from 0 to 65535. They are generally used by developers to identify beepcons more accurately than the UUID.</p></div>
			              				</div>
		              				</div>
		              			</div>
		              			<div class="beacon-password">
		              				<div class="col-md-6 form-group form-group-flex beacon-pass">
		              					<label for="beaconPassword" class="col-md-4 control-label">Password</label>
			              				<div class="col-md-6 major-input">
			              					<input type="text" id="beaconPassword" class="form-control" ng-model="beacons.selected.beacon.password" readonly=”readonly” />
			              				</div>
			              				<div class="col-md-2 info-circle" click-outside="beaconPassword">
			              					<div class="info-circle-link"><a href="" ng-click="showHelp('beaconPassword')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['beaconPassword'].style"></i><span class="hidden">Show beacon password help.</span></a></div>
			              					<div class="help-text" ng-show="helpFrame['beaconPassword'].show"><p role="alert">The password is requested by a beepcon in order to modify any of its content.</p></div>
			              				</div> 
		              				</div>

		              				<div class="col-md-6 form-group form-group-flex major-minor">
		              					<button class="col-md-10 btn btn-primary beacon-password-btn" data-toggle="modal" data-target="#changePassword">Change password</button> 
		              				</div>
		              			</div>
              				</div>

	              		</div>
	              	</fieldset>
              	</div>
              	<!-- ADVERTISING INTERVAL -->
              	<div class="myBeacons-detail-frame">
              		<fieldset>
	              		<legend><i class="fa fa-rss" aria-hidden="true"></i> Advertising interval</legend>
	              		<div class="txrange">
	              			<label for="txrange" class="col-md-2 right">Long <span class="hidden">(slide left)</span></label>	              			
		              		<div class="col-md-8">
		              			<input id="txrange" type="range" min="1" max="9" ng-model="beacons.selected.beacon.txRate" aria-labelledby="txrange-label" ng-change="change('txRate')"/>
		              		</div>
		              		<label for="txrange" class="col-md-2">Short <span class="hidden">(slide right)</span></label>
		              		<div class="sublabel" id="txrange-label">
		              			<label class="txrante-label">Shorter interval improves the precision of your Beepcon but may affect battery life.</label>
		              		</div>
		              	</div>
	              	</fieldset>
              	</div>
              	<!-- PALCES -->
              	<div class="myBeacons-detail-frame">
              		<fieldset>
	              		<legend><i class="fa fa-map-marker" aria-hidden="true"></i> Places</legend>
	              		<div class="col-md-6 myBeacons-place">
	              			<div class="form-group">
	              				<label for="location" class="col-md-3 control-label">Main location</label>
	              				<div class="col-md-7">
	              					<select id="location" class="form-control" ng-model="beacons.selected.beacon.placeInfo.place" ng-change="changePlace()">
	              						<option ng-selected="havePlace()" value="none">No place</option>
	              						<option ng-repeat="place in places.list" ng-selected="place._id == places.selected.id" value="{{place._id}}">{{place.name}}</option>
	              					</select>
	              				</div>	
	              				<div class="col-md-2 info-circle" click-outside="mainLocation">
	              					<div class="info-circle-link"><a href="" ng-click="showHelp('mainLocation')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['mainLocation'].style"></i><span class="hidden">Show main location help.</span></a></div>
	              					<div class="help-text" ng-show="helpFrame['mainLocation'].show"><p role="alert">Main location is the name of the area where the beepcon is. For example: JFK airport, Eiffel tower or Akihabara station.</p></div>
	              				</div>           				
	              			</div>
	              			<div class="form-group">
	              				<label for="floorLevel" class="col-md-3 control-label">Indor floor level</label>
	              				<div class="col-md-7">
	              					<select id="floorLevel" class="form-control" ng-model="beacons.selected.beacon.placeInfo.floor" ng-change="changePlaceFloor()">
	              						<option ng-repeat="floor in places.selected.place.floors" ng-selected="floor == beacons.selected.beacon.placeInfo.floor" value="{{floor}}">{{floor}}</option>
	              					</select>
	              					<!--<input type="text" id="floorLevel" class="form-control" placeholder="Type floor level here_" ng-model="beacons.selected.beacon.place.floor"/>-->
	              				</div>	
	              				<div class="col-md-2 info-circle" click-outside="floorLevel">
	              					<div class="info-circle-link"><a href="" ng-click="showHelp('floorLevel')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['floorLevel'].style"></i><span class="hidden">Show floor level help.</span></a></div>
	              					<div class="help-text" ng-show="helpFrame['floorLevel'].show"><p role="alert">The floor level applies to places with multiple floor levels to determine more accurattely the beepcon location.</p></div>
	              				</div>               				
	              			</div>
	              			<div class="form-group">
	              				<label for="stability" class="col-md-3 control-label">Stability</label>
	              				<div class="col-md-7">
	              					<select id="stability" class="form-control" ng-model="beacons.selected.beacon.placeInfo.stability" ng-change="changePlaceStability()">
	              						<option ng-repeat="stability in ['Stable', 'Portable', 'Mobile']" ng-selected="stability == beacons.selected.beacon.placeInfo.stability" value="{{stability}}">{{stability}}</option>
	              					</select>
	              				</div>
	              				<div class="col-md-2 info-circle" click-outside="stability">
	              					<div class="info-circle-link"><a href="" ng-click="showHelp('stability')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['stability'].style"></i><span class="hidden">Show stability help.</span></a></div>
	              					<div class="help-text" ng-show="helpFrame['stability'].show"><p role="alert">Stable means the beepcon is fixed in one place. Portable: the beepcon might move but it is not expected to. Mobile: the beepcon is expected to move frequently.</p></div>
	              				</div>               				
	              			</div>
	              			<div class="place-info">
	              				<ul class="list-unstyled">
	              					<li><span class="col-md-3 place-info-label no-padding">Address</span> <span class="col-md-9 place-info-content">{{places.selected.place.address || '-'}}</span></li>
	              					<li><span class="col-md-3 place-info-label no-padding">Longitude</span> <span class="col-md-9 place-info-content">{{(places.selected.place.coordinates.latitude | number:4) || '-'}}</span></li>
	              					<li><span class="col-md-3 place-info-label no-padding">Latitude</span> <span class="col-md-9 place-info-content">{{(places.selected.place.coordinates.longitude | number:4) || '-'}}</span></li>
	              					<li><span class="col-md-3 place-info-label no-padding">Place Id</span> <span class="col-md-9 place-info-content">{{places.selected.place.placeId || '-'}}</span></li>
	              				</ul>
	              			</div>
	              		</div>

	              		<div class="col-md-6 myBeacons-map">
	              			<fieldset class="fieldset-frame">
	              				<legend>Map</legend>
	              				<!--<p>Select main location and then click on the map to select accurately</p>-->
	              				<div id="placeMap" class="myBeacons-map-place"></div>
	              			</fieldset>
	              		</div>
	              	</fieldset>
              	</div>
              	<!-- TAGS -->
              	<div class="myBeacons-detail-frame">
              		<fieldset>
	              		<legend><i class="fa fa-tag" aria-hidden="true"></i> Tags</legend>
	              		<div class="myBeacons-detail-frame-content">
	              			<tags-input ng-model="beacons.selected.beacon.tag" display-property="name" max-tags=15></tags-input>
	              		</div>
	              	</fieldset>
              	</div>
              	
              	<div>
	              	<div class="myBeacons-detail-save-button">
	              		<button class="btn btn-success" ng-click="saveChanges()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save changes</button>
	              	</div>

	              	<div class="myBeacons-detail-remove-beacon">
	              		<button class="btn btn-danger"  data-toggle="modal" data-target="#removeBeacon"><i class="fa fa-trash" aria-hidden="true"></i>Remove this Beepcon</button>
	              	</div>
	            </div>

            </form>

        </div>

		<!-- Modal remove -->
		
		<div class="modal fade change-password" id="removeBeacon" tabindex="-1" role="dialog">
			<div class="modal-dialog change-password-dialog" role="document">
		    	<div class="panel panel-primary"> 
		    		<div class="panel-heading"> 
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close change password window."><span aria-hidden="true">&times;</span></button>
		    			<h2 class="panel-title">Remove Beepcon</h2> 
		    		</div> 
		    		<div class="panel-body">
	    				<form name="rmbForm" role="form" class="form-horizontal">
	    					<fieldset class="remove-confirmation-frame">
		    					<legend>Are you sure you want to remove the Beepcon {{beacons.selected.beacon.name}}?</legend>

		    					<p>This Beepcon will be removed and none will have access to it. In order to modify any content of the Beepcon you will need to register it again</p>

		              			<div class="remove-place-confirm-button">
		              				<button class="btn btn-success btn-lg" data-dismiss="modal">No</button>
				              		<button class="btn btn-danger btn-lg" ng-click='removeBeacon()'>Yes</button>
				              	</div>
								
							</fieldset>
						</form>
		    		</div> 
		    	</div>
		  	</div>
		</div>

		<!-- Modal change password -->
		
		<div class="modal fade change-password" id="changePassword" tabindex="-1" role="dialog">
			<div class="modal-dialog change-password-dialog" role="document">
		    	<div class="panel panel-primary"> 
		    		<div class="panel-heading"> 
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close change password window."><span aria-hidden="true">&times;</span></button>
		    			<h2 class="panel-title">Change the Beepcon password</h2> 
		    		</div> 
		    		<div class="panel-body">
	    				<form name="cbpForm" role="form" class="form-horizontal">
	    					<fieldset class="change-password-frame">
		    					<legend>Change password</legend>

								<div class="update-profile-msg">
			              			<p class="bg-danger" role="alert" ng-show="errorPass == 1">Passwords do not match.</p>
			              			<p class="bg-danger" role="alert" ng-show="errorPass == 2">The password must be at least 4 characters.</p>
			              		</div>
			              		
								<div class="form-group has-feedback validate">
		              				<label for="newPassword" class="col-md-4 control-label">New password</label>
		              				<div class="col-md-6">
		              					<input type="text" name="bPass" id="bPass" class="form-control" placeholder="Type the password_" ng-model="changePassword.newPassword" ng-pattern="passRegex" ng-minlength="4" ng-maxlength="16" required/>

					                   	<div ng-show="cbpForm.$submitted || cbpForm.bPass.$touched">
					                        <span class="glyphicon glyphicon-remove form-control-feedback red" aria-hidden="true" ng-show="cbpForm.bPass.$error.required || cbpForm.bPass.$error.minlength"></span>
					                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cbpForm.bPass.$error.required">Fill in the beepcon password.</span>
					                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cbpForm.bPass.$error.minlength || cbpForm.bPass.$error.maxlength">The password length must be between 4 and 16 characters.</span>
					                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cbpForm.bPass.$error.pattern">Insecure password. Please, choose another one</span>
					                    </div>
					                      
		              				</div>	
		              				<!--<div class="col-md-2 info-circle">
		              					<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
		              				</div>-->              				
		              			</div>
								
								<div class="form-group validate has-feedback">
		              				<label for="repeatNewPassword" class="col-md-4 control-label">Repeat new password</label>
		              				<div class="col-md-6">
		              					<input type="text" name="bcPass" id="repeatNewPassword" class="form-control" placeholder="Repeat the password_" ng-model="changePassword.repeatNewPassword" compare-to="bPass" ng-minlength="4" ng-maxlength="16" required/>

					                   	<div ng-show="cbpForm.$submitted || cbpForm.bcPass.$touched">
					                        <span class="glyphicon glyphicon-remove form-control-feedback red" aria-hidden="true" ng-show="cbpForm.bcPass.$error.required || cbpForm.bcPass.$error.minlength"></span>
					                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cbpForm.bcPass.$error.required">Fill in the password.</span>
					                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cbpForm.bcPass.$error.minlength || cbpForm.bcPass.$error.maxlength">The password length must be between 4 and 16 characters.</span>
					                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cbpForm.bcPass.$error.compareTo">Passwords don't match.</span>
					                    </div>
					                      
		              				</div>	
		              				<!--<div class="col-md-2 info-circle">
		              					<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
		              				</div>-->
		              			</div>

		              			<div class="chagne-password-save-button">
		              				<button class="btn btn-default" data-dismiss="modal">Cancel</button>
				              		<button class="btn btn-success" ng-click='changePassword(changePassword)'>Save changes</button>
				              	</div>
								
							</fieldset>
						</form>
		    		</div> 
		    	</div>
		  	</div>
		</div>

    </div>

