		<div id="placesController" ng-controller="placesController">
    	<script type="text/javascript" src="/js/googleMap.js"></script>
		  <h2>
		  	<a href="" ui-sref="home"><span class="hidden">Home</span><i class="fa fa-home" aria-hidden="true"></i></a> >
		  	Places
		  </h2>

          <div class="content-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

            <div class="places-content row">

              <div class="col-xs-12 col-md-6 places-grid" ng-repeat="place in places.list track by $index">
                <div class="places-item row">
                  <div class="col-xs-12 col-sm-4 col-md-4">
                  	<map-frame content-attr="{{$index}}"></map-frame>                	
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-8">
                  	<h3>{{place.name}}</h3>
                  	<button class="btn btn-transparent btn-rm-place red" ng-click="showConfirmRemovePlace($index)"><span class="hidden">Delete {{place.name}} place.</span><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                    <ul class="places-item-resume list-unstyled">
      					<li><i class="fa fa-building-o" aria-hidden="true"></i> {{place.address}}</li>
      					<li><i class="fa fa-bullseye" aria-hidden="true"></i> This place contains {{place.beacons.length}} Beepcons.</li>
      					<li><i class="fa fa-map-o" aria-hidden="true"></i> This place has {{place.floors.length}} floor levels.</li>
      				</ul>
                    <button class="btn btn-block btn-primary" ng-click="showEditPlace($index)">Edit</button>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-md-2 places-grid">
                <div class="places-item row center">	                
	                <a href="" ng-click="showNewPlace()">
	                	<div><i class="fa fa-plus-square-o big-plus-square" aria-hidden="true"></i></div>
	                	<div class="big-plus-square-label">Add a place</div>
	                </a>
                </div>
              </div>
                            
            </div>
            
          </div>

          <!-- Modal edit -->
		
		  <div class="modal fade edit-place" id="editPlace" tabindex="-1" role="dialog">
			<div class="modal-dialog edit-place-dialog" role="document">
		    	<div class="panel panel-primary"> 
		    		<div class="panel-heading"> 
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close edit place window."><span aria-hidden="true">&times;</span></button>
		    			<h2 class="panel-title">Edit place</h2> 
		    		</div> 
		    		<div class="panel-body">
						<div name="epForm" role="form" class="form-horizontal">
							<fieldset class="edit-place-frame">
		    					<legend class="hidden">Edit place</legend>

		    					<div class="update-profile-msg">
			              			<p class="bg-warning" role="alert"  ng-show="warningUpdated">The place info is updated successfully, you are going back to places page...</p>
			              			<p class="bg-warning" role="alert"  ng-show="warningCreated">The place info is created successfully, you are going back to places page...</p>
			              			<p class="bg-danger" role="alert" ng-show="error">An error has occurred.</p>
			              			<p class="bg-danger" role="alert" ng-show="errorCreate">An error has occurred. Fill in a name.</p>
			              		</div>

								<div class="col-md-5 edit-place-info">
			              			<div class="form-group has-feedback">
			              				<label for="placeName" class="col-md-3 control-label left">Name</label>
			              				<div class="col-md-7">
			              					<input type="text" class="form-control" name="placeName" id="placeName" placeholder="Tape a name here_" ng-blur="change('name')" ng-model="places.selected.place.name" ng-minlength="3" ng-maxlength="32" required/>
			              				</div>	
			              				<div class="col-md-2 info-circle" click-outside="placeName">
			              					<div class="info-circle-link"><a href="" ng-click="showHelp('placeName')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['placeName'].style"></i><span class="hidden">Show place name help.</span></a></div>
			              					<div class="help-text" ng-show="helpFrame['placeName'].show"><p role="alert">The name of the place, it can be the "official" name or the name usually people refers to it.</p></div>
			              				</div>             				
			              			</div>

			              			<fieldset class="floor-levels row">
			              				<legend class="col-md-3 floor-levels-legend">Floor levels: </legend>
			              				<div class="col-md-7 floor-levels-from-to">
			              				
				              				<label for="fromFloor" class="col-md-2 control-label left">from</label>
				              				<div class="col-md-4">
				              					<input type="number" class="form-control" name="fromFloor" id="fromFloor" ng-blur="changeFloors()" ng-model="firstFloor" />
				              				</div>
				              			
				              				<label for="toFloor" class="col-md-2 control-label left">to</label>
				              				<div class="col-md-4">
				              					<input type="number" class="form-control" name="toFloor" id="toFloor" ng-blur="changeFloors()" ng-model="lastFloor" />
				              				</div>
				              			
				              			</div>
			              				<div class="col-md-2 info-circle" click-outside="floors">
			              					<div class="info-circle-link"><a href="" ng-click="showHelp('floors')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['floors'].style"></i><span class="hidden">Show floors help.</span></a></div>
			              					<div class="help-text" ng-show="helpFrame['floors'].show"><p role="alert">The range of floors available within the place.</p></div>
			              				</div>  
			              			</fieldset>
			              			
			              			<div class="place-beacons">
			              				<h3>Beepcons associated to this place</h3>

			              				<ul class="place-beacons-list list-unstyled" ng-show="places.selected.place.beacons.length > 0">
			              					<li ng-repeat="beacon in places.selected.place.beacons">
			              						<i class="fa fa-bullseye" aria-hidden="true"></i>
			              						<span>{{beacon.name}}</span>
			              						<a href="" ng-click="removeBeacon(beacon._id)"><span class="hidden">Remove beacon {{beacon.name}}</span><i class="fa fa-times-circle" aria-hidden="true"></i></a>
			              					</li>
			              				</ul>
			              				<p class="place-beacons-list-no" ng-show="places.selected.place.beacons.length <= 0">Add beacons to a place at beepcon settings</p>
			              			</div>
			              		</div>

			              		<div class="col-md-7 edit-place-map">
			              			<fieldset class="fieldset-frame">
			              				<legend>Map</legend>
			              				<div class="searchPlace">
			              					<label for="searchPlace" class="hidden">Search Place</label>
			              					<input type="text" name="searchPlace" id="searchPlace" class="form-control"/>
			              					<i class="fa fa-search" aria-hidden="true"></i>
			              				</div>

			              				<div id="mapSearch" class="edit-place-map-display"></div>

			              				<div class="place-info">
				              				<ul class="list-unstyled">
				              					<li><span class="col-md-2 place-info-label no-padding">Address</span> <span id="placeAddress" class="col-md-10 place-info-content">{{places.selected.place.address || '-'}}</span></li>
				              					<li><span class="col-md-2 place-info-label no-padding">Longitude</span> <span id="placeLat" class="col-md-10 place-info-content">{{places.selected.place.coordinates.latitude | number:4}}</span></li>
				              					<li><span class="col-md-2 place-info-label no-padding">Latitude</span> <span id="placeLong" class="col-md-10 place-info-content">{{places.selected.place.coordinates.longitude | number:4}}</span></li>
				              					<li><span class="col-md-2 place-info-label no-padding">Place Id</span> <span id="placeId" class="col-md-10 place-info-content">{{places.selected.place.placeId || '-'}}</span></li>
				              				</ul>
				              			</div>
			              			</fieldset>
			              		</div>
								
		              			<div class="edit-place-save-button">
		              				<button class="btn btn-default" data-dismiss="modal" ng-click='cancelSaveChanges()'>Cancel</button>
				              		<button class="btn btn-success" ng-click='saveChanges()' ng-show="!create">Save changes</button>
				              		<button class="btn btn-success" ng-click='createPlace()' ng-show="create">Create Place</button>
				              	</div>
								
							</fieldset>
						</div>
		    		</div>
		    	</div>
		  	</div>
		  </div>	

		<!-- Modal remove -->
		
		<div class="modal fade change-password" id="removePlace" tabindex="-1" role="dialog">
			<div class="modal-dialog change-password-dialog" role="document">
		    	<div class="panel panel-primary"> 
		    		<div class="panel-heading"> 
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close change password window."><span aria-hidden="true">&times;</span></button>
		    			<h2 class="panel-title">Remove place</h2> 
		    		</div> 
		    		<div class="panel-body">
	    				<form name="cbpForm" role="form" class="form-horizontal">
	    					<fieldset class="change-password-frame">
		    					<legend>Are you sure you want to remove {{places.list[places.selected.index].name}} place?</legend>

		              			<div class="remove-place-confirm-button">
		              				<button class="btn btn-success btn-lg" data-dismiss="modal">No</button>
				              		<button class="btn btn-danger btn-lg" ng-click='removePlace()'>Yes</button>
				              	</div>
								
							</fieldset>
						</form>
		    		</div> 
		    	</div>
		  	</div>
		</div>
	  
		</div>
