		      
         <div class="content-body-programa">
            <div class="oscurecedor">
              <div class="col-xs-12 col-md-6 col-md-offset-3 content-text">
  		        <h2>Programa 2016 - 2020</h2>
  		        
  		        <p>Como ya hiciéramos hace 4 años, os proponemos un ambicioso Programa de
                    trabajo, donde a modo resumido os indicamos los principales puntos en los que
                    queremos trabajar.</p>
                    
                <p>Este programa basado en CINCO puntos, es integrador y en el cabe toda persona
                    que quiera trabajar por el bien de la Cofradía. Las cosas son siempre suceptibles de
                    cambios y mejoras, pero esos cambios deben ir dirigidos siempre a la mejora común
                    y necesaria. En denitiva, trabajando en común con un equipo experimentado, que
                    llevamos juntos más de 35 años.</p>
                    
                <p>Porque nuestros programas son realistas, asequibles y con una economía sostenible y no
                    cantos de sirenas sin base ni argumentos sólidos. Estos son los CINCO puntos principales:</p>
                
                <h3>Formación y Vida Cristiana</h3>
                
                <ul>
                    <li>Cursos periódicos de Formación</li>
                    <li>Preparación para nuevas Confirmaciones</li>
                </ul>
                
                <h3>Caridad y Obra Social</h3>
                
                <ul>
                    <li>Incrementar nuestra participación en la Fundación
Corinto atendiendo a un mayor número de familias.</li>
                    <li>Aumentar la colaboración permanente durante todo el
año con Cáritas Parroquial</li>
                    <li>Mantener y mejorar el ya conocido Diciembre Solidario.</li>
                    <li>Ofrecer ayuda permanente a las Hermanas Clarisas de
nuestra Parroquia que están atravesando un momento
difícil.</li>
                    <li>Instaurar la “mochila Prendimiento” para los alumnos/as
del Colegio Divina Pastora que estén mas necesitados.</li>
                    <li>Buscar asistencia y ayuda a las asociaciones de personas
mayores sin recursos de nuestro Barrio.</li>
                    <li>Promover la ayuda asistencial y médica a través de la
Asociación Contra el Cáncer y las Hermanas Hospitalarias
a las personas de nuestro Barrio y entorno más
cercano que padezcan esta enfermedad, sobre todo a
niños.</li>
                </ul>

                <h3>Aumento del Número de Hermanos</h3>
                
                <ul>
                    <li>Aumentar al menos en CIEN HERMANOS por año con
el objetivo de llegar a la cifra de 2020 en el año 2020,
incentivando la presentación de nuevos a los que las
realicen.</li>
                    <li>Instaurar una cuota especial para las familias de más de
tres miembros de cuota.</li>
                    <li>Gratuidad en las cuotas para recién nacidos y cuotas
especiales para niños de uno a ocho años.</li>
                </ul>


                <h3>Incremento y Mejora del Patrimonio</h3>
                
                <ul>
                    <li>Mejoras en el Trono del Cristo principalmente en el
vestuario de las imágenes secundarias y en los faroles
laterales.</li>
                    <li>Confección y ampliación de los equipos de Nazarenos
al objeto de renovar los deteriorados y aumentar el
número de componentes de la Procesión para alcanzar
al menos los 750.</li>
                    <li>Realización de los enseres proyectados en años
anteriores para completar la procesión, tales como
faroles para acompañar cruz-guia, mazas pequeñas,
remates de guiones y estandartes, incensarios, etc.</li>
                    <li>Realización y a ser posible ejecución, de proyecto del
nuevo retablo concedido por nuestra Parroquia al
objeto que Nuestros Sagrados Titulares tengan un
Altar para cada uno.</li>
                    <li>Puesta en marcha del proyecto de columbarios.</li>
                    <li>Colocación de un ascensor en la Casa Hermandad para
acceso de minusválidos al museo y acceso a la terraza
que se reformará para que pueda convertirse en un
nuevo espacio para los Hermanos.</li>
                </ul>


                <h3>Coronación de María Stma. del Gran Perdón</h3>
                
                <ul>
                    <li>Creación de una Comisión ejecutiva de Coronación, que
se ponga a trabajar y coordinar los distintos proyectos.</li>
                    <li>Creación de una Junta de Camareras, que igualmente realice
tareas al objeto de ir preparando el ajuar de coronación.</li>
                    <li>Incremento de Cultos en honor de la Virgen, al objeto de
aumentar su devoción y su conocimiento incluso fuera
de nuestras fronteras.</li>
                    <li>Inicio de los proyectos que compondrán el mencionado
ajuar de coronación, tales como Saya (la mejor de
cuantas se han hecho en Málaga), corona, etc.</li>
                    <li>Mejora y terminación del Trono de la Virgen, con figuras
nuevas en las capillas, aumento del cajillo para un mejor
encaje y vistosidad de los nuevos arbotantes, terminación
de cabezas de varales traseras, peana, etc.</li>
                    <li>Gestiones al más alto nivel Eclesiástico, para que la
Coronación la realice una de las más relevantes
jerarquías de nuestra Iglesia.</li>
                    <li>Preparar la Cofradía tanto formativamente como en todos
los aspectos necesarios para este gran acontecimiento.</li>
                </ul>

            </div>
            </div>
          </div>