        <div class="body-content">
          <div class="row nopadding">
            <div class="col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-3 row">
              <!-- Restore Pass -->
              <form class="login-form col-xs-12 col-md-6 col-md-offset-3" name="resform" role="form" ng-show="!registerDisplay">
                <fieldset>
                  <legend>Restore password</legend>
                  <div class="update-profile-msg">
                    <p class="bg-danger" role="alert" ng-show="errorEmailNoExist">The email don't exist in the system.</p>
                    <p class="bg-danger" role="alert" ng-show="errorEmailSent">The email has not been sent, try it later.</p>
                  </div>
                  <p class="pass-reset-content" ng-show="!emailSent">Fill in your email and we send you a link to restore the password.</p>
                  <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1" ng-show="!emailSent">
                    <div class="form-group has-feedback">
                      <label for="email">Email</label>
                      <input type="email" name="uEmail" class="form-control" id="email" tabindex="2"
                             placeholder="Type here_" ng-model="restore.email" required="">

                      <div ng-show="resform.$submitted || resform.uEmail.$touched">
                        <span class="glyphicon glyphicon-remove error-login-register form-control-feedback red" aria-hidden="true" ng-show="resform.uEmail.$error.required || resform.uEmail.$error.email"></span>
                        <span id="inputError2Status" class="error-label" role="alert" ng-show="resform.uEmail.$error.required">Fill in your email.</span>
                        <span id="inputError2Status" class="error-label" role="alert" ng-show="resform.uEmail.$error.email">The email format is not correct.</span>
                      </div>
                      
                    </div>
                    <button class="btn btn-primary col-xs-12 col-sm-12" tabindex="3" ng-click="sendEmail()">Send</button>
                    <div class="pass-reset-login col-xs-12 col-sm-12">
                      <a href="/#index" tabindex="4" ng-click="goBackLogin()">Go back to login form</a>
                    </div>
                  </div>
                  <div ng-show="emailSent">
                    <p class="pass-reset-content">Your request was processed. You will receive an E-mail with further instructions to set a new password.</p>
                    <div class="pass-reset-login col-xs-12 col-sm-12">
                      <a href="/#index" tabindex="4" ng-click="goBackLogin()">Go back to login form</a>
                    </div>
                  </div> 
                </fieldset>
              </form>
              <!-- FIN LOGIN -->                                         
            </div>
          </div>
        </div>