        <div ng-controller="userController">
	        <h2>
	        	<a href="" ui-sref="home"><span class="hidden">Home</span><i class="fa fa-home" aria-hidden="true"></i></a> > 
	        	User profile
	        </h2>

	        <div class="content-body">

	            <form name="pform" class="user-profile-form form-horizontal" role="form">
	            <!-- BEACON SETTINGS -->
	              	<div class="user-profile-frame">
		              	<fieldset>
		              		<legend class="hidden-content"><i class="fa fa-user" aria-hidden="true"></i> User profile fields</legend>
		              		<div class="update-profile-msg">
		              			<p class="bg-warning" role="alert" ng-show="warning">Your profile is updated successfully, you are going back to home page...</p>
		              			<p class="bg-danger" role="alert" ng-show="error">An error has occurred.</p>
		              		</div>
	              			<div class="form-group has-feedback">
	              				<label for="userName" class="col-md-3 col-md-offset-1 control-label left">Name</label>
	              				<div class="col-md-7">
	              					<input type="text" name="uName" id="userName" class="form-control" placeholder="Type your name here_" ng-minlength="3" ng-model="user.backup.name" required />

			                      	<div ng-show="pform.$submitted || pform.uName.$touched">
			                        	<span class="glyphicon glyphicon-remove form-control-feedback red" aria-hidden="true" ng-show="pform.uName.$error.required || pform.uName.$error.minlength"></span>
			                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="pform.uName.$error.required">Fill in a name.</span>
			                        	<span id="inputError2Status" class="error-label" role="alert" ng-show="pform.uName.$error.minlength">The name minimum length is 3 characters.</span>
			                      	</div>
			                      
	              				</div>	     				
	              			</div>

	              			<div class="form-group has-feedback">
	              				<label for="email" class="col-md-3 col-md-offset-1 control-label left">Email</label>
	              				<div class="col-md-7">
	              					<input type="email" name="uEmail" id="email" class="form-control" placeholder="Type your email here_" ng-model="user.backup.email" required/>

				                    <div ng-show="pform.$submitted || pform.uEmail.$touched">
				                        <span class="glyphicon glyphicon-remove form-control-feedback red" aria-hidden="true" ng-show="pform.uEmail.$error.required || pform.uEmail.$error.email"></span>
				                        <span id="inputError2Status" class="error-label" role="alert" ng-show="pform.uEmail.$error.required">Fill in your email.</span>
				                        <span id="inputError2Status" class="error-label" role="alert" ng-show="pform.uEmail.$error.email">The email format is not correct.</span>
				                    </div>

	              				</div>
	              			</div>

	              			<div class="form-group has-feedback">
	              				<label for="password" class="col-md-3 col-md-offset-1 control-label left">Password</label>
	              				<div class="col-md-4">
	              					<input type="password" name="pass" id="pass" class="form-control" ng-model="user.backup.password" readonly=”readonly” ng-minlength="8" required/>

				                   	<div ng-show="pform.$submitted || pform.uPass.$touched">
				                        <span class="glyphicon glyphicon-remove form-control-feedback red" aria-hidden="true" ng-show="pform.uPass.$error.required || pform.uPass.$error.minlength"></span>
				                        <span id="inputError2Status" class="error-label" role="alert" ng-show="pform.uPass.$error.required">Fill in the password.</span>
				                        <span id="inputError2Status" class="error-label" role="alert" ng-show="pform.uPass.$error.minlength">The password minimum length is 8 characters.</span>
				                    </div>			                      
	              				</div>
	              				<div class="col-md-3">
	              					<button class="col-md-10 btn btn-primary user-password-btn" data-toggle="modal" data-target="#changePassword">Change password</button> 
	              				</div>
	              			</div>	
		              		
	              			<!--<div class="form-group has-feedback">
	              				<label for="cpassword" class="col-md-3 col-md-offset-1 control-label left">Confirmar password</label>
	              				<div class="col-md-7">
	              					<input type="password" name="ucPass" id="cpassword" class="form-control" ng-model="user.backup.cpassword" ng-minlength="8" compare-to="uPass" required/>

				                    <div ng-show="pform.$submitted || pform.ucPass.$touched">
				                        <span class="glyphicon glyphicon-remove form-control-feedback red" aria-hidden="true" ng-show="pform.ucPass.$error.required || pform.ucPass.$error.minlength || pform.ucPass.$error.compareTo"></span>
				                        <span id="inputError2Status" class="error-label" role="alert" ng-show="pform.ucPass.$error.required">Fill in the password confirmation.</span>
				                        <span id="inputError2Status" class="error-label" role="alert" ng-show="pform.ucPass.$error.minlength">The password confirmation minimum length is 8 characters.</span>
				                        <span id="inputError2Status" class="error-label" role="alert" ng-show="pform.ucPass.$error.compareTo">Passwords don't match.</span>
				                    </div>

	              				</div>
	              			</div>

	              			<div class="beacon-password">
	              				<div class="col-md-6 form-group form-group-flex beacon-pass">
	              					<label for="beaconPassword" class="col-md-4 control-label">Password</label>
		              				<div class="col-md-6 major-input">
		              					<input type="text" id="beaconPassword" class="form-control" ng-model="beacons.selected.beacon.password" readonly=”readonly” />
		              				</div>
		              				<div class="col-md-2 info-circle" click-outside="beaconPassword">
		              					<div class="info-circle-link"><a href="" ng-click="showHelp('beaconPassword')"><i class="fa fa-info-circle fa-2x" aria-hidden="true" ng-style="helpFrame['beaconPassword'].style"></i><span class="hidden">Show beacon password help.</span></a></div>
		              					<div class="help-text" ng-show="helpFrame['beaconPassword'].show"><p role="alert">The password is requested by a beepcon in order to modify any of its content.</p></div>
		              				</div> 
	              				</div>

	              				<div class="col-md-6 form-group form-group-flex major-minor">
	              					<button class="col-md-10 btn btn-primary beacon-password-btn" data-toggle="modal" data-target="#changePassword">Change password</button> 
	              				</div>
	              			</div>	-->
		              		
		              	</fieldset>
	              	</div>
	            
	              	<div class="user-profile-save-button">
	              		<button class="btn btn-default" ui-sref="home">Cancel</button>
	              		<button class="btn btn-primary" ng-click="done()">Done</button>
	              	</div>
	            </form>

	        </div>

			<!-- Modal -->
			
			<div class="modal fade change-password" id="changePassword" tabindex="-1" role="dialog">
				<div class="modal-dialog change-password-dialog" role="document">
			    	<div class="panel panel-primary"> 
			    		<div class="panel-heading"> 
			        		<button type="button" class="close" data-dismiss="modal" aria-label="Close change password window."><span aria-hidden="true">&times;</span></button>
			    			<h2 class="panel-title">Change your password</h2> 
			    		</div> 
			    		<div class="panel-body">
		    				<form name="cupForm" role="form" class="form-horizontal">
		    					<fieldset class="change-password-frame">
			    					<legend>Change password</legend>

									<div class="update-profile-msg">
				              			<p class="bg-danger" role="alert" ng-show="errorPass == 1">Passwords do not match.</p>
				              			<p class="bg-danger" role="alert" ng-show="errorPass == 2">The password must be at least 8 characters.</p>
				              			<p class="bg-danger" role="alert" ng-show="errorPass == 3">The password has not saved. Try later.</p>
				              			<p class="bg-warning" role="alert" ng-show="warningPass">Your profile is updated successfully, you are going back to profile page...</p>
				              		</div>
				              		
									<div class="form-group has-feedback validate">
			              				<label for="newPassword" class="col-md-4 control-label">New password</label>
			              				<div class="col-md-6">
			              					<input type="password" name="uPass" id="uPass" class="form-control" placeholder="Type the password_" ng-untouched="false" ng-model="changePassword.newPassword" ng-minlength="8" required/>

						                   	<div ng-show="cupForm.$submitted || cupForm.uPass.$touched">
						                        <span class="glyphicon glyphicon-remove form-control-feedback red" aria-hidden="true" ng-show="cupForm.uPass.$error.required || cupForm.uPass.$error.minlength"></span>
						                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cupForm.uPass.$error.required">Fill in the password.</span>
						                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cupForm.uPass.$error.minlength || cupForm.uPass.$error.maxlength">The password minimum length is 8 characters.</span>
						                    </div>
						                      
			              				</div>	             				
			              			</div>
									
									<div class="form-group has-feedback">
			              				<label for="repeatNewPassword" class="col-md-4 control-label">Repeat new password</label>
			              				<div class="col-md-6">
			              					<input type="password" name="ucPass" id="repeatNewPassword" class="form-control" placeholder="Repeat the password_" ng-model="changePassword.repeatNewPassword" compare-to="uPass" ng-minlength="4" ng-maxlength="16" required/>

						                   	<div ng-show="cupForm.$submitted || cupForm.ucPass.$touched">
						                        <span class="glyphicon glyphicon-remove form-control-feedback red" aria-hidden="true" ng-show="cupForm.ucPass.$error.required || cupForm.ucPass.$error.minlength"></span>
						                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cupForm.ucPass.$error.required">Fill in the password.</span>
						                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cupForm.ucPass.$error.minlength || cupForm.ucPass.$error.maxlength">The password minimum length is 8 characters.</span>
						                        <span id="inputError2Status" class="error-label" role="alert" ng-show="cupForm.ucPass.$error.compareTo">Passwords don't match.</span>
						                    </div>
						                      
			              				</div>
			              			</div>

			              			<div class="chagne-password-save-button">
			              				<button class="btn btn-default" data-dismiss="modal">Cancel</button>
					              		<button class="btn btn-success" ng-click='changePassword()'>Save password</button>
					              	</div>
									
								</fieldset>
							</form>
			    		</div> 
			    	</div>
			  	</div>
			</div>

        </div>