		      <div class="content-body-videos">
            <div class="oscurecedor">
              
              <div class="videos-content">
  		          
  		          <div class="video col-md-6 col-md-offset-3 col-xs-12">
  		            <h2>Video de presentación de la candidatura</h2>
    		          <div class="ytb col-md-8 col-md-offset-2 col-xs-12">
    		            
    		            <iframe width="100%" height="315" src="https://www.youtube.com/embed/V3tgZzjni-c" frameborder="0" allowfullscreen></iframe>
    		            
    		          </div>  
    		        </div>

              </div>
            </div>
          </div>